

<div id="page-header" class="hfeed site">
          <div class="head-container resp_full_width_menu">
            <div class="container ">
              <div class="sixteen columns">
                <header id="masthead" class="site-header" role="banner">
                                    <div data-originalstyle="left-pos" class="header-hgroup left-pos">
                    <a class="logo-description" href="http://lucianux.com/" title="Lucian++ Linux" rel="home"><h1 class="site-title">Lucianux</h1><h2 class="site-description">Lucian++ Linux</h2></a>                  </div>
                  <div data-originalstyle="right-pos" class="menu-wrapper right-pos">


                    <nav role="navigation" class="site-navigation main-navigation">
                      <div class="menu-sidebar-menu-container"><ul id="menu-sidebar-menu" class="menu"><li id="menu-item-132" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-11 current_page_item menu-item-132"><a title="Lucianux" href="http://lucianux.com/">Lucianux</a></li>
<li id="menu-item-368" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-368"><a title="About Me" href="http://lucianux.com/about/">About</a></li>
<li id="menu-item-413" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-413"><a href="http://lucianux.com/resume/">Resume</a></li>
<li id="menu-item-382" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-382"><a title="Blog" href="http://lucianux.com/category/blog/">Blog</a></li>
<li id="menu-item-379" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-379"><a title="Contact Me" href="http://lucianux.com/contact/">Contact Me</a></li>
</ul></div>                   </nav><!-- .site-navigation .main-navigation -->
                  </div>
                </header><!-- #masthead .site-header -->
              </div>
            </div>
            <div class="site-header">
              <div class="logo_wrapper"><a class="logo-description" href="http://lucianux.com/" title="Lucian++ Linux" rel="home"><h1 class="site-title">Lucianux</h1><h2 class="site-description">Lucian++ Linux</h2></a></div>
              <div class="menu_button collapsed">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div class="cart_wrapper"></div>
              <div class="language_switcher"></div>
              <div class="menu_wrapper collapse"><div class="menu-sidebar-menu-container"><ul id="menu-sidebar-menu-1" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-11 current_page_item menu-item-132"><a title="Lucianux" href="http://lucianux.com/">Lucianux</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-368"><a title="About Me" href="http://lucianux.com/about/">About</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-413"><a href="http://lucianux.com/resume/">Resume</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-382"><a title="Blog" href="http://lucianux.com/category/blog/">Blog</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-379"><a title="Contact Me" href="http://lucianux.com/contact/">Contact Me</a></li>
</ul></div></div>
            </div>
          </div>

        </div><!-- .header-container -->

<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
